{{define "bottom"}}
</main>
<footer>
    <ul>
        <li><a href="https://twitter.com/linus__torvalds?lang=en">Twitter</a></li>
        <li><a href="https://github.com/torvalds">Github</a></li>
    </ul>
</footer>
</body>
</html>
{{end}}